ARTICLEFLOW_ENV=local

POSTGRES_USER=articleflow
POSTGRES_PASSWORD=articleflow
POSTGRES_DB=articleflow
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_ADDR=localhost:6379

KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=articleflow-local
KAFKA_ARTICLE_SERVICE_GROUP=article-service
ARTICLE_DISCOVERED_TOPIC=article.discovered.v1
ARTICLE_CONSUMER_GROUP_ID=article-service
ARTICLE_CONSUMER_MAX_MESSAGES=0
HABR_RSS_URL=https://habr.com/ru/rss/articles/?fl=ru
HABR_BASE_URL=https://habr.com
HABR_MAX_ATTEMPTS=3
HABR_RETRY_DELAY_MS=500
HABR_REQUEST_DELAY_MS=500

GATEWAY_HTTP_ADDR=:8080
ARTICLE_GRPC_ADDR=:9001
ARTICLE_STORAGE_DRIVER=memory
ARTICLE_POSTGRES_DSN=postgres://articleflow:articleflow@localhost:5432/articleflow?sslmode=disable
